<div
  class="face-snap-card"
  [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">Back</a>
  <p>
    Darstellung online
    {{ faceSnap.createdDate | date : " H:m  d.MMMM.yyyy  " }}
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <P *ngIf="faceSnap.location"
    >Aufnahme des Bildes in {{ faceSnap.location }}</P
  >
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">{{
      faceSnap.snaps
    }}</span>
  </p>
</div>
